Repository drdanz/yarp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @drdanz, @traversaro, @barbalberto, @Nicogene, @randaz81, @aerydna, @pattacini, @vtikha

.github/CODEOWNERS:

*                                           @drdanz
/bindings/**                                @drdanz @traversaro
/cmake/**                                   @drdanz
/src/**                                     @drdanz
/src/carriers/**                            @drdanz
/src/carriers/depth_image_portmonitor/**    @barbalberto
/src/carriers/mjpeg_carrier/**              @drdanz
/src/carriers/tcpros_carrier/**             @drdanz
/src/carriers/zfp_portmonitor/**            @Nicogene
/src/devices/**                             @randaz81 @barbalberto @traversaro
/src/devices/depthCamera/**                 @barbalberto
/src/devices/fakeAnalogSensor/**            @barbalberto
/src/devices/fakeDepthCamera/**             @barbalberto
/src/devices/fakeIMU/**                     @barbalberto
/src/devices/fakeLaser/**                   @randaz81
/src/devices/fakeMotionControl/**           @barbalberto
/src/devices/imuBosch_BNO055/**             @barbalberto
/src/devices/laserFromDepth/**              @randaz81
/src/devices/laserHokuyo/**                 @randaz81
/src/devices/ovrheadset/**                  @drdanz @aerydna
/src/devices/rpLidar/**                     @randaz81
/src/devices/rpLidar2/**                    @randaz81
/src/devices/SDLJoypad/**                   @aerydna
/src/idls/rosmsg/**                         @drdanz
/src/idls/thrift/**                         @drdanz
/src/libYARP_conf/**                        @drdanz
/src/libYARP_dev/**                         @barbalberto @randaz81
/src/libYARP_eigen/**                       @traversaro
/src/libYARP_gsl/**                         @traversaro
/src/libYARP_init/**                        @drdanz
/src/libYARP_logger/**                      @randaz81
/src/libYARP_manager/**                     @Nicogene
/src/libYARP_math/**                        @traversaro
/src/libYARP_name/**                        @drdanz
/src/libYARP_OS/**                          @drdanz
/src/libYARP_rtf/**                         @drdanz @Nicogene
/src/libYARP_serversql/**                   @drdanz
/src/libYARP_sig/                           @drdanz
/src/libYARP_wire_rep_utils/**              @drdanz
/src/rtf-plugins/**                         @drdanz @Nicogene
/src/yarp/**                                @drdanz
/src/yarpbatterygui/**                      @randaz81
/src/yarpdatadumper/**                      @pattacini
/src/yarpdataplayer/**                      @vtikha
/src/yarpdev/**                             @drdanz
/src/yarplaserscannergui/**                 @randaz81
/src/yarplogger/**                          @randaz81
/src/yarplogger-console/**                  @randaz81
/src/yarpmanager/**                         @Nicogene
/src/yarpmanager-console/**                 @Nicogene
/src/yarpmotorgui/**                        @randaz81
/src/yarprobotinterface/**                  @drdanz
/src/yarprun/**                             @drdanz
/src/yarpserver/**                          @drdanz
CMakeLists.txt                              @drdanz
*.cmake                                     @drdanz

clang7+gcc5
  .gitlab-ci.yml
Owners: @drdanz

Fix build image
  .gitlab-ci.yml
Owners: @drdanz

Test multi-build
  .gitlab-ci.yml
Owners: @drdanz

boh
  .gitlab-ci.yml
  scripts/admin/generate-cmake-options.sh
Owners: @drdanz

underscore_part2
  .gitlab-ci.yml
Owners: @drdanz

dist-upgrade
  .gitlab-ci.yml
Owners: @drdanz

typo
  .gitlab-ci.yml
Owners: @drdanz

other-ci
  .appveyor.yml
  .travis.yml
Owners: @drdanz

more-builds
  .ci/system_info.sh
  .gitlab-ci.yml
Owners: @drdanz

move to script
  .ci/test_bindings.sh
  .gitlab-ci.yml
Owners: @drdanz

...
  .ci/system_info.sh
  .gitlab-ci.yml
Owners: @drdanz

debian:testing
  .gitlab-ci.yml
Owners: @drdanz

bash
  .ci/build.sh
  .ci/configure.sh
  .ci/system_info.sh
Owners: @drdanz

plantuml
  cmake/YarpDoc.cmake
  cmake/template/Doxyfile.in
Owners: @drdanz

Cleanup
  example/os/summer.cpp
Owners: @drdanz

Color
  .gitlab-ci.yml
Owners: @drdanz

dev: Do not link ACE, that is no longer used
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/src/Drivers.cpp
  src/libYARP_dev/src/devices/RemoteControlBoard/RemoteControlBoard.cpp
  src/libYARP_dev/src/devices/ServerSerial/ServerSerial.cpp
Owners: @drdanz, @barbalberto, @randaz81

OS: Cleanup impl/Logger + remove ACE
  src/libYARP_OS/include/yarp/os/impl/Logger.h
  src/libYARP_OS/src/Logger.cpp
Owners: @drdanz

yarpfs: Do not use ACE
  src/yarpfs/CMakeLists.txt
  src/yarpfs/link.cpp
  src/yarpfs/yarpfs.cpp
  src/yarpfs/yarputils.h
Owners: @drdanz

OS: Remove unused header
  src/libYARP_OS/src/Network.cpp
Owners: @drdanz

devices: Do not use ACE
  src/devices/DynamixelAX12Ftdi/DynamixelAX12FtdiDriver.h
  src/devices/PumaCalibrator/PumaCalibrator.cpp
  src/devices/jrkerr/JrkerrMotionControl.cpp
  src/devices/meiMotionControl/MEIMotionControl.cpp
  src/devices/microphone/WindowsMicrophoneDeviceDriver.cpp
Owners: @randaz81, @barbalberto, @traversaro

Docs: Fix rosmsg documentation not generated
  cmake/template/Doxyfile.in
Owners: @drdanz

FindACE
  extern/ycm/ycm-0.9.20190213.9/find-modules/FindACE.cmake
Owners: @drdanz

Small improvements to CMake
  CMakeLists.txt
  cmake/YarpFindDependencies.cmake
  cmake/YarpSystemCheck.cmake
  src/carriers/h264_carrier/CMakeLists.txt
  src/carriers/shmem_carrier/CMakeLists.txt
  src/devices/rpLidar2/CMakeLists.txt
  src/devices/serialport/CMakeLists.txt
  src/idls/rosmsg/CMakeLists.txt
  src/libYARP_OS/CMakeLists.txt
  src/libYARP_companion/CMakeLists.txt
  src/libYARP_name/CMakeLists.txt
  src/libYARP_run/CMakeLists.txt
  src/libYARP_sig/CMakeLists.txt
  src/libYARP_wire_rep_utils/CMakeLists.txt
  src/libyarpc/CMakeLists.txt
  src/yarp-config/CMakeLists.txt
  src/yarphear/CMakeLists.txt
Owners: @drdanz

...
  cmake/YarpFindDependencies.cmake
Owners: @drdanz

...
  extern/ycm/ycm-0.9.20190213.9/find-modules/FindACE.cmake
Owners: @drdanz

again
  extern/ycm/ycm-0.9.20190213.9/find-modules/FindACE.cmake
Owners: @drdanz

123
  cmake/YarpFindDependencies.cmake
  extern/ycm/ycm-0.9.20190213.9/find-modules/FindACE.cmake
  src/libYARP_OS/src/NameConfig.cpp
  src/libYARP_conf/include/yarp/conf/system.h.in
Owners: @drdanz

234
  extern/ycm/ycm-0.9.20190213.9/find-modules/FindACE.cmake
Owners: @drdanz

345
  extern/ycm/ycm-0.9.20190213.9/find-modules/FindACE.cmake
Owners: @drdanz

456
  extern/ycm/ycm-0.9.20190213.9/find-modules/FindACE.cmake
  src/idls/rosmsg/CMakeLists.txt
Owners: @drdanz

567
  cmake/YarpFindDependencies.cmake
  src/libYARP_name/CMakeLists.txt
Owners: @drdanz

CMake: Install all CMake files in lib/cmake/YARP_xxx also for windows
  cmake/YarpInstallBasicPackageFiles.cmake
Owners: @drdanz

[WIP] ovrheadset: image position
  src/devices/ovrheadset/InputCallback.cpp
  src/devices/ovrheadset/InputCallback.h
  src/devices/ovrheadset/OVRHeadset.cpp
Owners: @drdanz, @aerydna

[WIP] ovrheadset: Disable FrameTransform
  src/devices/ovrheadset/OVRHeadset.cpp
Owners: @drdanz, @aerydna

Cleanup
  src/libYARP_os/src/yarp/os/impl/DgramTwoWayStream.h
Owners: @drdanz

[WIP] UDP Skip Out Of Order packages
  src/libYARP_os/src/yarp/os/impl/DgramTwoWayStream.cpp
  src/libYARP_os/src/yarp/os/impl/DgramTwoWayStream.h
Owners: @drdanz

CI: Test sonarcloud
  .github/workflows/sonarcloud.yml
  sonar-project.properties
Owners: @drdanz

test 3
  .github/workflows/ci.yml
  .github/workflows/nightly-merge.yml
  .github/workflows/pr-commands.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/tag.yml
Owners: @drdanz

test 2
  .github/workflows/sonarcloud.yml
Owners: @drdanz
